.wrap {
    border: 1px solid darkgray;
    border-radius: 10px;
    margin: 5px;
    width: 250px;
}

.descriptionWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.description {
    height: 30px;
    display: flex;
    justify-content: center;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}