.formWrap {
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.formWrap button {
    margin: 5px;
}