.wrap {
    /*height: 400px;*/
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px;
}

.formTitle {
    text-align: center;
    font-size: 24px;
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

input {
    width: 200px;
}

.submitB {
    margin: 20px;
    font-size: 24px;
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 10px;
}

.submitB:hover {
    background-color: lightgrey;
    cursor: pointer;
}