body {
    margin: 0;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    /*display: flex;*/
}

h2 {
    margin: 0 20px;
}

.wrap {
    width: 45%;
}

div {
    margin: 20px;
}

.sendDiv {
    border: 1px solid black;
}